# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/front/node_modules
/front/.angular
/front/.angular/*
/front/.vscode
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/back/videostore.software.iml
*.iml

# System files
.DS_Store
Thumbs.db

# Mac OS
*.swp
*.lock
*.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.localized
.netrwhist

# Windows
*~
*.bak
*.tmp
*.*~
.DS_Store?
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

